.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0,0,0,.1);
}

.name {
  display: grid;
  align-self: center;
  justify-self: center;
  padding: .7rem;
}

.name div:first-child{
  margin-bottom: 0.5rem;
  font-size: 1.60em;
}
.name div:last-child{
  font-size: 0.9em;
}



@media (max-width: 650px) {
  .header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .name {
    align-self: flex-start;
    justify-self: flex-start;
    margin-left: 3%;
  }
  .name div:last-child{
    font-size: 0.9em;
    margin-left: .12rem;
  }
}