.container {
  text-align: center;
  line-height: 1.2;
}

.wrapper {
  background-color: rgb(249, 248, 253);
  height: 100vh;
  width: 100vw;
}

.header {
}

.link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px 33rem;
  justify-items: center;
}

.link svg {
  height: 3rem;
  width: 3rem;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}

.link a:nth-child(2) svg {
  transform: scale(1.3);
  height: 2rem;
  width: 2rem;
  margin-top: 0.75rem;
  margin-left: 0.6rem;
}
