.wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  justify-items: start;
  grid-gap: 4.5rem 3rem;
}

.wrapper article {
  overflow: hidden;
  grid-column-start: 2;
}

.blogDate {
  display: block;
  max-width: 100%;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  color: #363446;
}

.title {
  color: rgba(18, 15, 39, 0.91);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.title > div {
  text-align: left;
  margin-top: 0.5rem;
}

.navCategory {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 6fr) minmax(0, 0.5fr);
  justify-items: start;
  grid-gap: 0rem 3rem;
  margin-bottom: 2rem;
  justify-items: center;
}
.navCategory .buttons {
  grid-column-start: 2;
}
.navCategory button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: 0;
  font-size: 1.5em;
  margin-right: 3.5rem;
}



@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: minmax(0, 1fr) minmax(0, 6fr) minmax(0, 0.5fr);
  }
  .navCategory {
    grid-template-columns: minmax(0, 1fr);
  }
  .navCategory .buttons {
    grid-column-start: 1;
  }
  .navCategory button {
    margin-right: .7rem;
  }
}

@media (max-width: 590px) {
  .title, .navCategory button {
    font-size: 1.2rem;
  }

}

@media (max-width: 501px) {
  .wrapper {
    grid-template-columns: minmax(0, 1fr);
    margin: 0 1rem;
  }
  .navCategory {
    grid-template-columns: minmax(0, 1fr);
    margin: 1rem 1rem;
  }

  .wrapper article {
    overflow: hidden;
    grid-column-start: 1;
  }
  .title {
    font-size: 1.2rem;
  }
  .wrapper img {
    height: 13rem;
  }


}
